.header-container {
  width: 100%;
  height: 6.2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  height: 38px;
  object-fit: contain;
  margin-top: 27px;
  margin-left: 275px;  

}

.header-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 100;

}

.header-nav li {
  margin-left: 2rem;
  margin-top: 1rem;
  line-height: 2;

}

.header-nav li a {
  text-decoration: none;
  color: #5020ff;
  font-weight: 300;
  transition: color 0.3s ease;
  margin: 50px;
  font-size: small;
}

.header-nav li a:hover {
  color: #0070f3; 
}

.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  }
  .nav-menu.open {
    display: flex;
  }
  .nav-menu li {
    margin: 1rem 0;
    margin-left: 0;
    text-align: right;
    padding-right: 1rem;
  }


 .Escribenos {
  margin-left: 2rem;
  background-color: #5020ff;  
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
}

.Escribenos a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff; 
  font-weight: 500;
  text-decoration: none;
}

.Escribenos img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.mobile-menu-button {
    display: block;
  }

}
